body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #b1b0b0;
    border-radius: 10px;
}

/*Header*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.nav ul {
    display: flex;
    gap: 9rem;
    list-style: none;
    align-items: center;
    & li a {
        text-decoration: none;
        list-style: none;
        color: #000;
    }
}

.icon {
    display: flex;
    gap:30px;
    margin: 10px 30px;
    align-items: center;
    & i {
        color: #000;
        font-size: 25px;
    }
}

.btn {
    border-radius: 15px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #fff;
    & span {
        font-size: 20px;
    }
    &:hover {
        background-color: #e2e2e2;
    }
}

.content-area {
    position: relative;
    margin: 10px 30px;
    height: 770px;
    background-image: url(/Website-3/images/Article\ Image.png);
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}

.area {
        top: 0;
        left: 0;
        height: 80%;
        width: 42%;
        background-color: #fff;
        position: absolute;
}

.text-area {
    margin: 10%  10%;
    & h3 {
        opacity: 0.5;
    }
    & h1 {
        font-size: 50px;
    }
    & span {
        opacity: 0.5;
        font-size: 15px;
    }
    & p {
        font-size: 20px;
        line-height: 30px;
    }
}

/*Main*/
.main {
    margin: 20px 30px;
    & .h1 {
        font-size: 42px;
        cursor: pointer;
        text-align: center;
    }
}

.blog {
    display: flex;
    padding: 20px 0;
}

.left-blog {
    width: 53rem;
    margin-right: 3rem;
    cursor: pointer;
    & img {
        width: inherit;
        height: 380px;
        border-radius: 10px;
    }
}

.right-blog {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    & h3 {
        opacity: 0.5;
    }
    & h1 {
        font-size: 50px;
    }
    & span {
        opacity: 0.5;
        font-size: 15px;
    }
    & p {
        font-size: 20px;
        line-height: 30px;
    }
}

.article {
    display: flex;
    margin: 70px 120px;
}

.contain {
    display: flex;
    flex-direction: column;
    width: 63rem;
}

.blog-1 , .blog-2 , .blog-3 , .blog-4 {
    display: flex;
    width: 100rem;
    margin-right: 3rem;
    cursor: pointer;
    margin-bottom: 60px;
    & img {
        width: 450px;
        height: 320px;
        border-radius: 10px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 8rem;
    width: 700px;
    & h3 {
        opacity: 0.5;
    }
    & h1 {
        font-size: 50px;
    }
    & span {
        opacity: 0.5;
        font-size: 15px;
    }
    & p {
        font-size: 20px;
        line-height: 30px;
    }
}

.blog-5 {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    width: 300px;
    height: 100vh;
    cursor: pointer;
    & h3 {
        margin-left: 40px;
    }
    & ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    & li {
        margin-top: 56px;
    }
}

/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 30px;
    & a {
        color: #000;
        text-decoration: none;
        margin-bottom: 70px;
    }
    & i {
        margin-right: 1rem;
    }
}
  
/*Up-Btn*/
.up-btn{
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

/*END CSS*/